Goal : Create a sklearn data pipeline to take the data from my matlab struct, convert it to a pandas data frame, clean and scale/standardize it. Create a sklearn estimator using psytrack to be able to use randomized search to optimize the hyperparameters of the model. Maybe also use a recursive feature elimination (https://scikit-learn.org/stable/auto_examples/feature_selection/plot_rfe_digits.html#sphx-glr-auto-examples-feature-selection-plot-rfe-digits-py) to determine the optimal attributes to fir the data.

In [10]:
import os
from scipy.io import loadmat
folderpath = r'/Users/rebeccakrall/Downloads';
animals = ['c_129'];
a = animals[0];
file_data = 'analyze_animal_'+a+'.mat'
path = os.path.join(folderpath,file_data);

In [53]:
def mat_struct_2_pd(path):
    import pandas as pd

    mouse_mat = loadmat(path, struct_as_record = False, squeeze_me = True, mat_dtype = True)
    m = mouse_mat['animal']
    df = pd.DataFrame(m.lick.T)
    df.columns = ['RH', 'LH', 'RM', 'LM', 'NG']
    df['LED'] = m.LED
    df['Stimulus'] = m.stimulus
    df['Target'] = m.target

    return df

In [54]:
df = mat_struct_2_pd(path)

In [55]:
df

       RH   LH   RM   LM   NG  LED   Stimulus  Target
0     0.0  0.0  0.0  0.0  0.0  0.0  32.000000     0.0
1     0.0  0.0  0.0  0.0  0.0  0.0   2.000000     0.0
2     0.0  0.0  0.0  0.0  0.0  0.0   2.000000     0.0
3     0.0  0.0  0.0  0.0  0.0  0.0  32.000000     0.0
4     0.0  0.0  0.0  0.0  0.0  0.0   2.000000     0.0
...   ...  ...  ...  ...  ...  ...        ...     ...
7702  0.0  0.0  0.0  0.0  1.0  0.0   2.000000     0.0
7703  0.0  0.0  0.0  0.0  1.0  0.0   2.828427     0.0
7704  0.0  0.0  0.0  0.0  1.0  0.0   2.000000     0.0
7705  0.0  0.0  0.0  0.0  1.0  0.0   2.828427     0.0
7706  0.0  0.0  0.0  0.0  1.0  0.0   2.000000     0.0

[7707 rows x 8 columns]

In [52]:
df

       RH   LH   RM   LM   NG  LED   Stimulus  Target
0     0.0  0.0  0.0  0.0  0.0  0.0  32.000000     0.0
1     0.0  0.0  0.0  0.0  0.0  0.0   2.000000     0.0
2     0.0  0.0  0.0  0.0  0.0  0.0   2.000000     0.0
3     0.0  0.0  0.0  0.0  0.0  0.0  32.000000     0.0
4     0.0  0.0  0.0  0.0  0.0  0.0   2.000000     0.0
...   ...  ...  ...  ...  ...  ...        ...     ...
7702  0.0  0.0  0.0  0.0  1.0  0.0   2.000000     0.0
7703  0.0  0.0  0.0  0.0  1.0  0.0   2.828427     0.0
7704  0.0  0.0  0.0  0.0  1.0  0.0   2.000000     0.0
7705  0.0  0.0  0.0  0.0  1.0  0.0   2.828427     0.0
7706  0.0  0.0  0.0  0.0  1.0  0.0   2.000000     0.0

[7707 rows x 8 columns]